.bookshelf {
    background-color: #564E52;
    width: 1100px;
    aspect-ratio: 1/1;
    height: 450px;
    display: flex;
    margin: 100px auto 100px auto;
    border: -10px solid #7F5822;
    margin: 0 auto;
}

* {
    scroll-behavior: smooth;
}


#letter1{
    background-image: url("../images/Red\ book.png");
    height: 430px;
    width: 100px;
    display: flex;

}
#letter2{
    background-image: url("../images/Blue\ book.png");
    height: 430px;
    width: 100px;
    display: flex;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    left: -8px;
    top: 60px;
    font-size: 30px;
    letter-spacing: 10px;
    text-decoration: none;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: black;
}


.imgs {
    display: flex;
    justify-content: center;

}

#first {
    display: none;
    height: 70vh;
    width: auto;
    margin-top: 100px;
}
#second {
    display: none;

    margin-top: 1000px;

}
#section1 {

    border: 10px solid #7F5822;
}

#section2 {
    border: 10px solid #7F5822;
}

#section3 {
    border: 10px solid #7F5822;
}

#section4 {
    border: 10px solid #7F5822;
}

#section5 {
    border: 10px solid #7F5822;
}

#section6 {
    border: 10px solid #7F5822;
}